In [1]:
import pandas as pd

In [15]:
grade=pd.read_excel("作业/18级高一体测成绩汇总.xls")

In [16]:
grade.head()

  班级 性别       姓名 1000米   50米     跳远 体前屈 引体   肺活量   身高    体重
0  1  男  高孜阳0611  4'13  8.88    195  12  1  2785  170  72.6
1  1  男  郝少杰1013  4'16  7.70    225  11  7  3133  174  52.7
2  1  男  郝梓烨0619  4'09  8.45  218.0  14  1  3901  169  46.5
3  1  男  何弘源1010  4'21  8.05    206  13  1  4946  183  79.7
4  1  男  刘硕鹏1212  3'44  7.52    210  13  9  3538  171  54.7

In [19]:
grade[grade["性别"]=="性别"]

     班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
33   班级  性别  姓名   800米  50米  跳远  体前屈  仰卧起坐  肺活量     身高   体重
41   班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
62   班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
84   班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
109  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
120  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
135  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
153  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
187  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
217  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
259  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高  /体重
294  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量  身高/体重  NaN
329  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量  身高/体重   体重
372  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量    身高/   体重
412  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
450  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量    身高/   体重

In [57]:
grade["性别"].iloc[grade[grade["性别"]=="   男"].index]="男"

In [39]:
grade.head()

  班级 性别       姓名 1000米   50米     跳远 体前屈 引体   肺活量   身高    体重
0  1  男  高孜阳0611  4'13  8.88    195  12  1  2785  170  72.6
1  1  男  郝少杰1013  4'16  7.70    225  11  7  3133  174  52.7
2  1  男  郝梓烨0619  4'09  8.45  218.0  14  1  3901  169  46.5
3  1  男  何弘源1010  4'21  8.05    206  13  1  4946  183  79.7
4  1  男  刘硕鹏1212  3'44  7.52    210  13  9  3538  171  54.7

In [48]:
grade.loc[[2,3]]["引体"]=2

In [54]:
grade["引体"].loc[[2,3]]=1

In [65]:
grade["性别"].unique()

array(['男'], dtype=object)

In [63]:
grade.iloc[grade[grade["性别"]=="性别"].index]

     班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
33   班级  性别  姓名   800米  50米  跳远  体前屈  仰卧起坐  肺活量     身高   体重
41   班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
62   班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
84   班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
109  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
120  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
135  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
153  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
187  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高   体重
217  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
259  班级  性别  姓名  1000米  50米  跳远  体前屈  引体向上  肺活量     身高  /体重
294  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量  身高/体重  NaN
329  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量  身高/体重   体重
372  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量    身高/   体重
412  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量     身高   体重
450  班级  性别  姓名  1000米  50米  跳远  体前屈    引体  肺活量    身高/   体重

In [64]:
grade=grade.drop(grade[grade["性别"]=="性别"].index)

In [67]:
grade["性别"].unique()

array(['男'], dtype=object)

In [68]:
grade

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[477 rows x 11 columns]

In [69]:
grade1=pd.read_excel("作业/18级高一体测成绩汇总.xls")

In [70]:
grade1

     班级 性别       姓名 1000米   50米     跳远  体前屈   引体   肺活量   身高    体重
0     1  男  高孜阳0611  4'13  8.88    195   12    1  2785  170  72.6
1     1  男  郝少杰1013  4'16  7.70    225   11    7  3133  174  52.7
2     1  男  郝梓烨0619  4'09  8.45  218.0   14    1  3901  169  46.5
3     1  男  何弘源1010  4'21  8.05    206   13    1  4946  183  79.7
4     1  男  刘硕鹏1212  3'44  7.52    210   13    9  3538  171  54.7
..   .. ..      ...   ...   ...    ...  ...  ...   ...  ...   ...
488  17  男  张乔楠0311  4'23  8.27    208   10    0  4647  176  69.5
489  17  男  郭泽森0333  5'19  9.55    210   15    6  7042  177    76
490  17  男  陈子龙061X  3'25   7.5    252   13   13  5755  181    65
491  17  男  王丹龙0636  4'39  7.81    208   14   11  5688  172  51.7
492  17  男  王玉涵0636   NaN   NaN    NaN  NaN  NaN   NaN  NaN   NaN

[493 rows x 11 columns]

In [71]:
93-77

16

In [74]:
score=pd.read_excel("作业/体测成绩评分表.xls",header=[0,1])

In [75]:
score

   Unnamed: 0_level_0  男肺活量       女肺活量      男50米跑      女50米跑       男体前屈  ...  \
   Unnamed: 0_level_1    成绩   分数    成绩   分数    成绩   分数    成绩   分数    成绩  ...
0                   1  4540  100  3150  100   7.1  100   7.8  100  23.6  ...
1                   2  4420   95  3100   95   7.2   95   7.9   95  21.5  ...
2                   3  4300   90  3050   90   7.3   90   8.0   90  19.4  ...
3                   4  4050   85  2900   85   7.4   85   8.3   85  17.2  ...
4                   5  3800   80  2750   80   7.5   80   8.6   80  15.0  ...
5                   6  3680   78  2650   78   7.7   78   8.8   78  13.6  ...
6                   7  3560   76  2550   76   7.9   76   9.0   76  12.2  ...
7                   8  3440   74  2450   74   8.1   74   9.2   74  10.8  ...
8                   9  3320   72  2350   72   8.3   72   9.4   72   9.4  ...
9                  10  3200   70  2250   70   8.5   70   9.6   70   8.0  ...
10                 11  3080   68  2150   68   8.7   68   9.8   68   6.6  ...
11                 12  2960   66  2050   66   8.9   66  10.0   66   5.2  ...
12                 13  2840   64  1950   64   9.1   64  10.2   64   3.8  ...
13                 14  2720   62  1850   62   9.3   62  10.4   62   2.4  ...
14                 15  2600   60  1750   60   9.5   60  10.6   60   1.0  ...
15                 16  2470   50  1710   50   9.7   50  10.8   50   0.0  ...
16                 17  2340   40  1670   40   9.9   40  11.0   40  -1.0  ...
17                 18  2210   30  1630   30  10.1   30  11.2   30  -2.0  ...
18                 19  2080   20  1590   20  10.3   20  11.4   20  -3.0  ...
19                 20  1950   10  1550   10  10.5   10  11.6   10  -4.0  ...

    女跳远        男引体      女仰卧       男1000        女800
     成绩   分数    成绩   分数  成绩   分数     成绩   分数     成绩   分数
0   204  100  16.0  100  53  100  3'30"  100  3'24"  100
1   198   95  15.0   95  51   95  3'35"   95  3'30"   95
2   192   90  14.0   90  49   90  3'40"   90  3'36"   90
3   185   85  13.0   85  46   85  3'47"   85  3'43"   85
4   178   80  12.0   80  43   80  3'55"   80  3'50"   80
5   175   78   NaN   78  41   78  4'00"   78  3'55"   78
6   172   76  11.0   76  39   76  4'05"   76  4'00"   76
7   169   74   NaN   74  37   74  4'10"   74  4'05"   74
8   166   72  10.0   72  35   72  4'15"   72  4'10"   72
9   163   70   NaN   70  33   70  4'20"   70  4'15"   70
10  160   68   9.0   68  31   68  4'25"   68  4'20"   68
11  157   66   NaN   66  29   66  4'30"   66  4'25"   66
12  154   64   8.0   64  27   64  4'35"   64  4'30"   64
13  151   62   NaN   62  25   62  4'40"   62  4'35"   62
14  148   60   7.0   60  23   60  4'45"   60  4'40"   60
15  143   50   6.0   50  21   50  5'05"   50  4'50"   50
16  138   40   5.0   40  19   40  5'25"   40  5'00"   40
17  133   30   4.0   30  17   30  5'45"   30  5'10"   30
18  128   20   3.0   20  15   20  6'05"   20  5'20"   20
19  123   10   2.0   10  13   10  6'25"   10  5'30"   10

[20 rows x 25 columns]

In [84]:
grade["班级"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
      dtype=object)

In [81]:
grade["班级"].iloc[grade["班级"]=="6班"]=6

In [83]:
grade.replace(to_replace={"班级":"6"},value=6,inplace=True)

In [85]:
grade.head()

  班级 性别       姓名 1000米   50米     跳远 体前屈 引体   肺活量   身高    体重
0  1  男  高孜阳0611  4'13  8.88    195  12  1  2785  170  72.6
1  1  男  郝少杰1013  4'16  7.70    225  11  7  3133  174  52.7
2  1  男  郝梓烨0619  4'09  8.45  218.0  14  1  3901  169  46.5
3  1  男  何弘源1010  4'21  8.05    206  13  1  4946  183  79.7
4  1  男  刘硕鹏1212  3'44  7.52    210  13  9  3538  171  54.7

In [202]:
gradecolumns=["1000米","50米","跳远","体前屈","引体","肺活量","身高","体重"]

In [203]:
temp=grade[gradecolumns]

In [204]:
# 缺考名单
emptyindex=temp.loc[temp.isnull().all(axis=1)].index

### 处理不同体侧科目的分数

#### 1)处理肺活量

In [98]:
FHL_df=score["男肺活量"]

In [108]:
def boy_FHL(x):
    # 确定接收到的原始数据对应的成绩并返回

    for data in FHL_df["成绩"]:
        
        if x >= data:
            return FHL_df["分数"].loc[FHL_df["成绩"]==data].values[0]
    return 0

In [114]:
grade["肺活量"].map(boy_FHL)

0       62
1       68
2       80
3      100
4       74
      ...
488    100
489    100
490    100
491    100
492      0
Name: 肺活量, Length: 477, dtype: int64

#### 2）处理50米跑

In [119]:
# 处理50米跑的成绩
grade["50米"].dtype

dtype('O')

In [120]:
grade["50米"].unique()

array(['8.88', '7.70', '8.45', '8.05', '7.52', '7.94', '7.75', '8.06',
       '7.38', '7.82', '7.37', '7.66', '0', '7.60', '8.14', '7.20',
       '8.15', '7.85', '7.23', '7.68', '8.30', '7.55', '7.89', '8.19',
       '8.21', '8.71', 7.97, 0, 8.79, 7.37, 7.77, 8.8, '6.89', 7.25, 7.36,
       8.17, 7.8, 8.06, 8.16, 8.27, 8.5, 6.72, 9.25, 7.48, 8.38, 7.12,
       6.91, 7.88, 7.2, 8.25, 7.84, 8.03, 9.72, 7.94, 7.6, 8.95, 8, 9.01,
       7.44, 7.91, 8.64, 6.97, 7.49, 7.62, 8.77, 7.38, 8.02, 7.98, 8.21,
       8.7, 7.55, 7.13, 8.56, 8.13, 7.39, 7.23, 6.65, 7.01, 1.05, 7.05,
       7.5, 8.31, 7.66, 7.79, 8.55, 7.87, 8.28, 8.3, 8.29, 8.63, 7.9,
       9.49, 8.44, 8.51, 8.23, 8.49, 10.02, 8.73, 7.7, 9.97, 8.75, 7.89,
       7.67, 8.91, 8.2, 9.38, 9.5, 7.16, 8.58, 8.19, 7.14, 8.53, 7.51,
       8.09, 7.68, 8.01, 8.67, 8.39, 7.75, 8.69, 8.61, 8.18, 9.31, 8.59,
       9.06, 7.4, 8.4, 7.32, 8.6, 9.32, 8.1, 9.44, 8.37, 8.05, 7.63, 7.74,
       9, 8.34, 8.11, 7.35, 8.12, 8.52, 7.82, 7.52, 7.42, 7.34, 7.69,
       8.04, 8.08, 7.54, 7.59, 7.31, 8.45, 7.99, 8.26, 9.28, nan, 7.92,
       7.86, 7.04, 7.56, 7.76, 7.83, 9.09, 7.22, 8.15, 7.78, 7.64, 8.22,
       8.57, 8.36, 9.1, 5.96, 5.88, 9.29, 7.19, 8.96, 8.89, 8.54, 8.99,
       7.81, 7.65, 7.73, 7.72, 8.41, 8.65, 8.72, 8.24, 9.17, 7.45, 8.9,
       9.77, 7.96, 9.46, 8.87, 8.86, 7.85, 7.3, 9.3, 9.02, 8.46, 7.57,
       8.76, 9.55], dtype=object)

In [122]:
# 类型转换为浮点类型
grade["50米"]=grade["50米"].astype(float)

In [123]:
grade["50米"].dtype

dtype('float64')

In [124]:
df_50M=score["男50米跑"]
df_50M

      成绩   分数
0    7.1  100
1    7.2   95
2    7.3   90
3    7.4   85
4    7.5   80
5    7.7   78
6    7.9   76
7    8.1   74
8    8.3   72
9    8.5   70
10   8.7   68
11   8.9   66
12   9.1   64
13   9.3   62
14   9.5   60
15   9.7   50
16   9.9   40
17  10.1   30
18  10.3   20
19  10.5   10

In [296]:

def map_50M(x):
    for data in df_50M["成绩"]:
        if x==0:
            return 0
        if x<=data:
            return df_50M.loc[df_50M["成绩"]==data].values[0][1]
    return 0

In [136]:
grade["50米"].map(map_50M)

0      66.0
1      78.0
2      70.0
3      74.0
4      78.0
       ...
488    72.0
489    50.0
490    80.0
491    76.0
492     0.0
Name: 50米, Length: 477, dtype: float64

#### 3）1000米成绩的处理

In [137]:
# 先把评分表和原始数据表的1000米成绩的数据类型进行统一
# score:3′30″

In [139]:
score["男1000"].loc[1,"成绩"]

'3\'35"'

In [142]:
'3\'35"'.strip('"')

"3'35"

In [143]:
"3'35".split("\'")

['3', '35']

In [165]:
# 时间的转换方式
def process_data(x):
    # 如果不是字符串返回原始值
    if not isinstance(x,str):
        return x
    x=x.strip('"')
    m,s=x.split("\'")
    s=float(s)/60
    return float(m)+s

In [146]:
process_data('3\'35"')

3.5833333333333335

In [149]:
grade["1000米"].loc[1]

"4'16"

In [150]:
process_data("4'16")

4.266666666666667

In [158]:
# 处理grade和score表的时间列数值
grade["1000米"]=grade["1000米"].astype(str)

In [161]:
# 处理grade和score表的时间列数值
grade["1000米"]=grade1["1000米"]

In [166]:
grade["1000米"]=grade["1000米"].map(process_data)

In [167]:
score[("男1000","成绩")]=score[("男1000","成绩")].map(process_data)

In [169]:
score.head()

  Unnamed: 0_level_0  男肺活量       女肺活量      男50米跑      女50米跑       男体前屈  ...  \
  Unnamed: 0_level_1    成绩   分数    成绩   分数    成绩   分数    成绩   分数    成绩  ...
0                  1  4540  100  3150  100   7.1  100   7.8  100  23.6  ...
1                  2  4420   95  3100   95   7.2   95   7.9   95  21.5  ...
2                  3  4300   90  3050   90   7.3   90   8.0   90  19.4  ...
3                  4  4050   85  2900   85   7.4   85   8.3   85  17.2  ...
4                  5  3800   80  2750   80   7.5   80   8.6   80  15.0  ...

   女跳远        男引体      女仰卧          男1000        女800
    成绩   分数    成绩   分数  成绩   分数        成绩   分数     成绩   分数
0  204  100  16.0  100  53  100  3.500000  100  3'24"  100
1  198   95  15.0   95  51   95  3.583333   95  3'30"   95
2  192   90  14.0   90  49   90  3.666667   90  3'36"   90
3  185   85  13.0   85  46   85  3.783333   85  3'43"   85
4  178   80  12.0   80  43   80  3.916667   80  3'50"   80

[5 rows x 25 columns]

In [173]:
df_1000M=score["男1000"]
def map_1000M(x):
    if x==0:
        return 0
    for data in df_1000M["成绩"]:
        if x<=data:
            return df_1000M.loc[df_1000M["成绩"]==data].values[0][1]
    return 0

In [174]:
grade["1000米"].map(map_1000M).loc[14]

np.float64(0.0)

In [175]:
grade["1000米"].map(map_1000M)

0       72.0
1       70.0
2       74.0
3       68.0
4       85.0
       ...
488     68.0
489     40.0
490    100.0
491     62.0
492      0.0
Name: 1000米, Length: 477, dtype: float64

#### 4)跳远和引体的处理逻辑与肺活量相同

In [220]:
grade["引体"]

0       1.0
1       7.0
2       1.0
3       1.0
4       9.0
       ...
488     0.0
489     6.0
490    13.0
491    11.0
492     0.0
Name: 引体, Length: 477, dtype: float64

In [221]:
score["男引体"]

      成绩   分数
0   16.0  100
1   15.0   95
2   14.0   90
3   13.0   85
4   12.0   80
5    NaN   78
6   11.0   76
7    NaN   74
8   10.0   72
9    NaN   70
10   9.0   68
11   NaN   66
12   8.0   64
13   NaN   62
14   7.0   60
15   6.0   50
16   5.0   40
17   4.0   30
18   3.0   20
19   2.0   10

In [226]:
df_YT=score["男引体"]

In [229]:
def map_YT(x):
    
    for data in df_YT["成绩"]:
        if x>=data:
            return df_YT.loc[df_YT["成绩"]==data].values[0][1]
    return 0

In [239]:
grade["引体"][grade["引体"].map(map_YT)==0]

0      1.0
2      1.0
3      1.0
7      1.0
14     0.0
      ...
480    0.0
484    0.0
485    1.0
488    0.0
492    0.0
Name: 引体, Length: 68, dtype: float64

#### 5）体前屈的处理

In [177]:
grade["体前屈"]

0       12
1       11
2       14
3       13
4       13
      ...
488     10
489     15
490     13
491     14
492    NaN
Name: 体前屈, Length: 477, dtype: object

In [179]:
df_TQQ=score["男体前屈"]

In [182]:
def map_TQQ(x):
    for data in df_TQQ["成绩"]:
        if x >=data:
            return df_TQQ.loc[df_TQQ["成绩"]==data].values[0][1]
    return 0

In [193]:
# 观察体前屈成绩为50的学员是否都是缺考缺考学员
grade.loc[grade["体前屈"].map(map_TQQ)==50]

     班级 性别       姓名     1000米   50米     跳远 体前屈  引体   肺活量   身高    体重
14    1  男  戎小龙2633  0.000000  0.00      0   0   0     0    0   NaN
35    2  男   李森0636  0.000000  0.00      0   0   0     0    0   NaN
38    2  男  吕星繁0312  0.000000  0.00      0   0   0     0    0   NaN
55    3  男  杨子豪1031  0.000000  0.00      0   0   0     0    0     0
77    4  男  吴昊旭121X  0.000000  0.00  220.0   0   0  1750  181  66.8
264  12  男  刘力禛3215  0.000000  0.00      0   0   0     0    0     0
292  12  男   李杨0615  3.633333  8.17    215   0   4  4089  177  62.4
398  15  男  闫亚鹏1210  5.466667  9.77    175   0  11  4015  167    92
405  15  男   张奥2732  4.733333  9.09  205.0   0  16  4036  179    64

In [184]:
map_TQQ(0)

np.float64(50.0)

In [186]:
grade["体前屈"].loc[emptyindex]

470    NaN
484    NaN
492    NaN
Name: 体前屈, dtype: object

In [189]:
# 查看一下体前屈为缺失值的数据都是什么样的，观察发现体前屈为空值的都是缺考学员
grade.loc[grade["体前屈"].isnull()]

     班级 性别       姓名  1000米  50米   跳远  体前屈   引体  肺活量   身高   体重
283  12  男  李林蕾2611    NaN  NaN    0  NaN  NaN  NaN  NaN  NaN
370  14  男   郭璞2617    NaN  NaN    0  NaN  NaN  NaN  NaN  NaN
397  15  男  刘依林101X    NaN  NaN    0  NaN  NaN  NaN  NaN  NaN
470  17  男  张世荣0326    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
484  17  男  左一萌1015    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
492  17  男  王玉涵0636    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [195]:
# 经过以上的观察，发现整个数据表中，对于缺考学员处理方式并不统一，有一些是用0来填充的，有一些使用nan来填充的
# 如果是零分，我们处理成了评分为50，如果为空值，处理成了评分为0
# 所以我们统一处理，把所有空值统一用0来填充
# 先按照统一的方式处理，再把缺考学员挑出来

In [196]:
grade.fillna(value=0.0,inplace=True)

/tmp/ipykernel_773114/4280813388.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grade.fillna(value=0.0,inplace=True)

In [199]:
grade["体前屈"].map(map_TQQ).loc[470]

np.float64(50.0)

In [198]:
emptyindex

Index([470, 484, 492], dtype='int64')

In [205]:
# 重新查找一下缺考学生
emptyindex

Index([], dtype='int64')

In [208]:
emptyindex=grade[grade[gradecolumns].sum(axis=1)==0].index

In [209]:
emptyindex

Index([14, 35, 38, 55, 264, 283, 370, 397, 470, 484, 492], dtype='int64')

In [211]:
TQQ=grade["体前屈"].map(map_TQQ).copy()

In [216]:
# 把体前屈成绩为50的缺考学员成绩改成零分
TQQ[emptyindex]=0

In [218]:
TQQ

0      74.0
1      74.0
2      78.0
3      76.0
4      76.0
       ...
488    72.0
489    80.0
490    76.0
491    78.0
492     0.0
Name: 体前屈, Length: 477, dtype: float64

#### 6）计算BMI指数

In [243]:
BMI=grade["体重"]/((grade["身高"]/100)**2)

#### 7)整合数据

In [245]:
gradescore=grade.copy()

In [249]:
gradescore["1000米"]=grade["1000米"].map(map_1000M)

In [297]:
gradescore["50米"]=grade["50米"].map(map_50M)

In [251]:
gradescore["体前屈"]=grade["体前屈"].map(map_TQQ)

In [253]:
gradescore.loc[emptyindex,"体前屈"]=0

In [254]:
gradescore["引体"]=grade["引体"].map(map_YT)

In [257]:
gradescore["肺活量"]=grade["肺活量"].map(boy_FHL)

In [255]:
gradescore["BMI"]=BMI

In [261]:
gradecolumns.append("BMI")

In [262]:
gradecolumns

['1000米', '50米', '跳远', '体前屈', '引体', '肺活量', '身高', '体重', 'BMI']

#### 8)跳远处理

  班级 性别       姓名     1000米   50米     跳远   体前屈   引体     肺活量     身高    体重
0  1  男  高孜阳0611  4.216667  8.88  195.0  12.0  1.0  2785.0  170.0  72.6
1  1  男  郝少杰1013  4.266667  7.70  225.0  11.0  7.0  3133.0  174.0  52.7
2  1  男  郝梓烨0619  4.150000  8.45  218.0  14.0  1.0  3901.0  169.0  46.5
3  1  男  何弘源1010  4.350000  8.05  206.0  13.0  1.0  4946.0  183.0  79.7
4  1  男  刘硕鹏1212  3.733333  7.52  210.0  13.0  9.0  3538.0  171.0  54.7

In [271]:
df_TY=score["男跳远"]

In [272]:
df_TY

     成绩   分数
0   260  100
1   255   95
2   250   90
3   243   85
4   235   80
5   231   78
6   227   76
7   223   74
8   219   72
9   215   70
10  211   68
11  207   66
12  203   64
13  199   62
14  195   60
15  190   50
16  185   40
17  180   30
18  175   20
19  170   10

In [273]:
def map_TY(x):
    for data in df_TY["成绩"]:
        if x>=data:
            return df_TY.loc[df_TY["成绩"]==data].values[0][1]
    return 0

In [274]:
gradescore["跳远"]=grade["跳远"].map(map_TY)

In [275]:
gradescore

     班级 性别       姓名  1000米    50米  跳远   体前屈    引体  肺活量     身高    体重        BMI
0     1  男  高孜阳0611   72.0   66.0  60  74.0   0.0   62  170.0  72.6  25.121107
1     1  男  郝少杰1013   70.0   78.0  74  74.0  60.0   68  174.0  52.7  17.406527
2     1  男  郝梓烨0619   74.0   70.0  70  78.0   0.0   80  169.0  46.5  16.280943
3     1  男  何弘源1010   68.0   74.0  64  76.0   0.0  100  183.0  79.7  23.798859
4     1  男  刘硕鹏1212   85.0   78.0  66  76.0  68.0   74  171.0  54.7  18.706611
..   .. ..      ...    ...    ...  ..   ...   ...  ...    ...   ...        ...
488  17  男  张乔楠0311   68.0   72.0  66  72.0   0.0  100  176.0  69.5  22.436725
489  17  男  郭泽森0333   40.0   50.0  66  80.0  50.0  100  177.0  76.0  24.258674
490  17  男  陈子龙061X  100.0   80.0  90  76.0  85.0  100  181.0  65.0  19.840664
491  17  男  王丹龙0636   62.0   76.0  66  78.0  76.0  100  172.0  51.7  17.475663
492  17  男  王玉涵0636    0.0  100.0   0   0.0   0.0    0    0.0   0.0        NaN

[477 rows x 12 columns]

In [276]:
grade["跳远"].map(map_TY)

0      60
1      74
2      70
3      64
4      66
       ..
488    66
489    66
490    90
491    66
492     0
Name: 跳远, Length: 477, dtype: int64

In [278]:
df_TY

     成绩   分数
0   260  100
1   255   95
2   250   90
3   243   85
4   235   80
5   231   78
6   227   76
7   223   74
8   219   72
9   215   70
10  211   68
11  207   66
12  203   64
13  199   62
14  195   60
15  190   50
16  185   40
17  180   30
18  175   20
19  170   10

In [279]:
grade.head()

  班级 性别       姓名     1000米   50米     跳远   体前屈   引体     肺活量     身高    体重
0  1  男  高孜阳0611  4.216667  8.88  195.0  12.0  1.0  2785.0  170.0  72.6
1  1  男  郝少杰1013  4.266667  7.70  225.0  11.0  7.0  3133.0  174.0  52.7
2  1  男  郝梓烨0619  4.150000  8.45  218.0  14.0  1.0  3901.0  169.0  46.5
3  1  男  何弘源1010  4.350000  8.05  206.0  13.0  1.0  4946.0  183.0  79.7
4  1  男  刘硕鹏1212  3.733333  7.52  210.0  13.0  9.0  3538.0  171.0  54.7

In [285]:
gradecolumns=gradecolumns[:6]

In [287]:
gradecolumns.append("BMI")

In [298]:
gradescore1=gradescore[gradecolumns].copy()

In [303]:
pd.concat((grade,gradescore1),axis=1)

,班级,性别,姓名,1000米,50米,跳远,体前屈,引体,肺活量,身高,体重,1000米,50米,跳远,体前屈,引体,肺活量,BMI
0,1,男,高孜阳0611,4.216667,8.88,195.0,12.0,1.0,2785.0,170.0,72.6,72.0,66.0,60,74.0,0.0,62,25.121107
1,1,男,郝少杰1013,4.266667,7.70,225.0,11.0,7.0,3133.0,174.0,52.7,70.0,78.0,74,74.0,60.0,68,17.406527
2,1,男,郝梓烨0619,4.150000,8.45,218.0,14.0,1.0,3901.0,169.0,46.5,74.0,70.0,70,78.0,0.0,80,16.280943
3,1,男,何弘源1010,4.350000,8.05,206.0,13.0,1.0,4946.0,183.0,79.7,68.0,74.0,64,76.0,0.0,100,23.798859
4,1,男,刘硕鹏1212,3.733333,7.52,210.0,13.0,9.0,3538.0,171.0,54.7,85.0,78.0,66,76.0,68.0,74,18.706611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,17,男,张乔楠0311,4.383333,8.27,208.0,10.0,0.0,4647.0,176.0,69.5,68.0,72.0,66,72.0,0.0,100,22.436725
489,17,男,郭泽森0333,5.316667,9.55,210.0,15.0,6.0,7042.0,177.0,76.0,40.0,50.0,66,80.0,50.0,100,24.258674
490,17,男,陈子龙061X,3.416667,7.50,252.0,13.0,13.0,5755.0,181.0,65.0,100.0,80.0,90,76.0,85.0,100,19.840664
491,17,男,王丹龙0636,4.650000,7.81,208.0,14.0,11.0,5688.0,172.0,51.7,62.0,76.0,66,78.0,76.0,100,17.475663
492,17,男,王玉涵0636,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,NaN

In [292]:
gradescore

     班级 性别       姓名  1000米    50米  跳远   体前屈    引体  肺活量     身高    体重        BMI
0     1  男  高孜阳0611   72.0   66.0  60  74.0   0.0   62  170.0  72.6  25.121107
1     1  男  郝少杰1013   70.0   78.0  74  74.0  60.0   68  174.0  52.7  17.406527
2     1  男  郝梓烨0619   74.0   70.0  70  78.0   0.0   80  169.0  46.5  16.280943
3     1  男  何弘源1010   68.0   74.0  64  76.0   0.0  100  183.0  79.7  23.798859
4     1  男  刘硕鹏1212   85.0   78.0  66  76.0  68.0   74  171.0  54.7  18.706611
..   .. ..      ...    ...    ...  ..   ...   ...  ...    ...   ...        ...
488  17  男  张乔楠0311   68.0   72.0  66  72.0   0.0  100  176.0  69.5  22.436725
489  17  男  郭泽森0333   40.0   50.0  66  80.0  50.0  100  177.0  76.0  24.258674
490  17  男  陈子龙061X  100.0   80.0  90  76.0  85.0  100  181.0  65.0  19.840664
491  17  男  王丹龙0636   62.0   76.0  66  78.0  76.0  100  172.0  51.7  17.475663
492  17  男  王玉涵0636    0.0  100.0   0   0.0   0.0    0    0.0   0.0        NaN

[477 rows x 12 columns]

In [300]:
result = pd.concat((grade.iloc[:,:3],gradescore1),axis=1)

In [301]:
result.to_excel("result.xlsx")

In [307]:
girl =pd.read_excel("作业/18级高一体测成绩汇总.xls",sheet_name=1)

In [322]:
girl[girl.isnull().any(axis=1)]

Empty DataFrame
Columns: [班级, 性别, 姓名, 800米, 50米, 跳远, 体前屈, 仰卧, 肺活量, 身高, 体重]
Index: []

In [321]:
girl.fillna(value=0.0,inplace=True)